[submodule "libraries/DS3232RTC"]
	path = libraries/DS3232RTC
	url = https://github.com/JChristensen/DS3232RTC
[submodule "libraries/time"]
	path = libraries/time
	url = git@github.com:PaulStoffregen/Time.git
[submodule "libraries/timelord"]
	path = libraries/timelord
	url = git@github.com:probonopd/TimeLord.git
[submodule "libraries/RCArduinoFastLib"]
	path = libraries/RCArduinoFastLib
	url = git@github.com:scottjgibson/RCArduinoFastLib.git
[submodule "libraries/PinChangeInt"]
	path = libraries/PinChangeInt
	url = git@github.com:GreyGnome/PinChangeInt.git
[submodule "libraries/StepperDriver"]
	path = libraries/StepperDriver
	url = https://github.com/laurb9/StepperDriver.git
[submodule "MarlinDelta"]
	path = MarlinDelta
	url = git@github.com:jacobbarsoe/Marlin.git
[submodule "libraries/Arduino-Temperature-Control-Library"]
	path = libraries/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "libraries/Low-Power"]
	path = libraries/LowPower
	url = https://github.com/rocketscream/Low-Power.git
[submodule "libraries/tinyGSM"]
	path = libraries/tinyGSM
	url = https://github.com/vshymanskyy/TinyGSM.git
[submodule "libraries/StreamDebugger"]
	path = libraries/StreamDebugger
	url = https://github.com/vshymanskyy/StreamDebugger.git
[submodule "libraries/PPM-reader"]
	path = libraries/PPM-reader
	url = https://github.com/Nikkilae/PPM-reader.git
