[submodule "libraries/DS3232RTC"]
	path = libraries/DS3232RTC
	url = https://github.com/JChristensen/DS3232RTC
[submodule "libraries/time"]
	path = libraries/time
	url = git@github.com:PaulStoffregen/Time.git
