[submodule "libraries/DS3232RTC"]
	path = libraries/DS3232RTC
	url = https://github.com/JChristensen/DS3232RTC
[submodule "libraries/time"]
	path = libraries/time
	url = git@github.com:PaulStoffregen/Time.git
[submodule "libraries/timelord"]
	path = libraries/timelord
	url = git@github.com:probonopd/TimeLord.git
[submodule "libraries/RCArduinoFastLib"]
	path = libraries/RCArduinoFastLib
	url = git@github.com:scottjgibson/RCArduinoFastLib.git
[submodule "libraries/PinChangeInt"]
	path = libraries/PinChangeInt
	url = git@github.com:GreyGnome/PinChangeInt.git
[submodule "libraries/StepperDriver"]
	path = libraries/StepperDriver
	url = https://github.com/laurb9/StepperDriver.git
